In [1]:
import pandas as pd

file1 = 'preprocessed_flight.csv'
df = pd.read_csv(file1, encoding='cp949')
df.head()

,name,seat,adult_charge,leavehour,departure,arrival,departure_datetime,arrival_datetime,check,child_charge,departure_kor,arrival_kor
0,에어서울,특가석,35600,6,GMP,CJU,2023-07-21 06:00:00,2023-07-21 07:00:00,come,26700,김포,제주
1,에어서울,할인석,47600,6,GMP,CJU,2023-07-21 06:00:00,2023-07-21 07:00:00,come,35700,김포,제주
2,에어서울,일반석,119700,6,GMP,CJU,2023-07-21 06:00:00,2023-07-21 07:00:00,come,89775,김포,제주
3,진에어,특가석,28200,6,GMP,CJU,2023-07-21 06:05:00,2023-07-21 07:20:00,come,21150,김포,제주
4,진에어,할인석,40800,6,GMP,CJU,2023-07-21 06:05:00,2023-07-21 07:20:00,come,30600,김포,제주

In [3]:
file2 = 'preprocessed_hotel 수정.csv'
df2 = pd.read_csv(file2, sep=',')
df2.head()

,hotel_name,region,ratings,price,start_date,end_date,capacity,new_region,date_pair,date_pair_number,percentage_rank,금전 상황
0,플레이스 캠프 제주,"성산읍, 서귀포",4.05,51146,2023-07-24,2023-07-25,1,성산읍,2023-07-24-2023-07-25,1,17.391304,자린고비
1,호텔 케니 서귀포,"서귀포시, 서귀포",4.05,37909,2023-07-24,2023-07-25,1,서귀포시,2023-07-24-2023-07-25,1,7.692308,자린고비
2,타마라 제주 호텔,"서귀포시, 서귀포",4.10,34422,2023-07-24,2023-07-25,1,서귀포시,2023-07-24-2023-07-25,1,3.678930,자린고비
3,켄싱턴리조트 서귀포,서귀포,3.65,259015,2023-07-24,2023-07-25,1,서귀포,2023-07-24-2023-07-25,1,77.926421,욜로
4,라마다 제주시티호텔,"제주 시내, 제주",4.00,96512,2023-07-24,2023-07-25,1,제주시,2023-07-24-2023-07-25,1,45.150502,평범

In [4]:
df2['region'].unique()

array(['성산읍, 서귀포', '서귀포시, 서귀포', '서귀포', '제주 시내, 제주', '제주', '한림읍, 제주',
       '안덕면, 서귀포', '남원읍, 서귀포', '중문 해수욕장, 서귀포', '조천읍, 제주', '대정읍, 서귀포',
       '애월읍, 제주', '표선면, 서귀포', '우도, 제주', '구좌읍, 제주', '한경면, 제주'],
      dtype=object)

In [6]:
file3 = 'preprocessed_cars 수정.csv'
df3 = pd.read_csv(file3, sep=',')
df3.head()

,car_name,brand_name,seats,size,fuel_type,transmission_type,rental_company_name,age_req,driving_experience,year,ratings,num_ratings,price,start_date,end_date,금전 상황
0,그랜드스타렉스12인승,현대,12,승합,경유,오토,다움렌트카,26,1,19,3.7,10,15000,2023-07-21,2023-07-22,자린고비
1,그랜드스타렉스12인승,현대,12,승합,경유,오토,굿모닝렌트카,26,2,18~19,3.4,3,23500,2023-07-21,2023-07-22,자린고비
2,그랜드스타렉스12인승,현대,12,승합,경유,오토,로그인렌트카,26,2,20,3.6,11,25100,2023-07-21,2023-07-22,자린고비
3,그랜드스타렉스12인승,현대,12,승합,경유,오토,무지개렌트카,26,2,18~20,4.4,15,29100,2023-07-21,2023-07-22,가성비
4,그랜드스타렉스12인승,현대,12,승합,경유,오토,퍼스트렌트카,26,1,19,4.8,6,32600,2023-07-21,2023-07-22,가성비

In [7]:
df3['size'].unique()

array(['승합', '경차', '중소형', '전기', '중형', 'SUV', '고급', '수입'], dtype=object)